*{
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
}

.primary-text{
    color: #FD6E0A;
}

.btn-primary{
    height: 64px;
    padding:18px 35px;
    border:0;
    border-radius: 5px;
    background-color:#FD6E0A;
    color: #fff;
    font-weight:700;
    font-size:20px;
    cursor: pointer;
}

.btn-contact{
    border:1px solid #FD6E0A;
    color:#FD6E0A;
    font-size:20px;
    font-weight:700;
    padding:18px 30px;
    margin-left:10px;
    cursor: pointer;
}

.banner-btn{
    display: flex;
}

.header{
    background-color:#FFF8F3;
    background-image: url('images/header_bg.png'), url('images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right, left;
}

.card-logo{
    padding:30px;
}

.card-title{
    padding:30px;
}

.card-des{
    padding:30px;
    line-height:30px;
    letter-spacing:1px;
    color:#757575;
}

/* Header and navigation style*/

nav{
    display: flex;
    justify-content: space-between;
    margin:0px 200px;
}

nav ul{
    display: flex;
    align-items: center;
}

nav li{
    list-style: none;
    margin-left:50px;
}
.nav-title{
    font-weight: 800;
    font-size:42px;
}

/* banner style*/

.banner{
    margin:0 200px;
    display: flex;
    align-items: center;
}

.banner-sub-title{
    font-weight: 600;
    font-size: 45px;
    margin-bottom:20px;
}

.banner-title{
    font-weight:700;
    font-size:60px;
}

.banner-des{
    color: #757575;
    font-size:18px;
    margin-bottom:30px;
}

/*----About main style css */

.about-main{
    margin:100px 130px;
    background-color: #FFF8F3;
}

.about{
   text-align:center;
   padding:100px 200px;
}

.about h2{
    font-weight: 600;
    margin-bottom: 30px;
}

.about p{
    color:#757575;
    text-align: justify;
}

.about ul{
  list-style: none;
  display: flex;
}

.about ul li{
    padding:30px 20px;
}

/*---Start card style css */

.card{
    margin:100px 130px;
}

.card-details{
    margin:0px 200px;
    text-align: center;
}

.card-details h2{
    font-weight: 600;
    margin-bottom: 30px;
}

.card-details p{
    color:#757575;
    text-align: justify;
}

.card-items{
    display: flex;
    margin-top:50px;
}

.card-box-1{
    height:400px;
    width:400px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.card-box-2{
    height:400px;
    width:400px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.card-box-3{
    height:400px;
    width:400px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.card-box-4{
    height:400px;
    width:400px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
